<!doctype html>
<html lang="en">
  <head>
    <title>Personal Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">
  </head>
  <body>
    <header>
      <a href="https://www.linkedin.com/in/johnverbosky" target="_blank"><h1>Personal Details</h1></a>
    </header>
    <section>
    <div class="container-fluid">
      <div class="center-block">
        <hr>
        <%= yield %>
      </div>
    </div>
    </section>
  </body>
</html>