<div>

  <div>
    <h4>Select a user to view corresponding details:</h4>
  </div>

  <div class="padding">
    <!-- dynamic table to list all users in personal_details.db -->
    <table>
      <% names.each_slice(3).to_a.each do |group| %>
        <tr>
        <% group.each do |name| %>
          <% url = "/user_info?name=" + name %>
          <td class="narrow"><a href=<%= url %>><%= name %></a></td>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <hr>

</div>